* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
}
header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}
header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}
section.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 20px;
  width: 100%;
  text-align: center;
  max-width: 400px;
  min-height: 80px;
}
section.game-status > h2 {
  font-size: 1.25rem;
}
section.game-status > p {
  font-size: 1.1rem;
}
section.game-status.language_lost{
  background-color: #7A5EA7;
  border: 1px dashed #323232;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  border-radius: 4px;
}
section.lost {
  background-color: #BA2A2A;
}
section.win {
  background-color: #10A95B;
}
section.languages-container {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
}
span.language-chip {
  padding: 4.5px;
  border-radius: 3px;
  position: relative;
}
span.language-chip.lost::before {
    content: '💀\FE0F';
    font-family: "Noto Color Emoji";
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.letters-container {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin: 36px;
}
.character {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F9F4DA;
  color: #F9F4DA;
  font-weight: 700;
  font-size: 18px;
  width: 40px;
  height: 40px;
  gap: 6px;
  background-color: #323232;
}
.loading {
  background-color: none;
  width: 40px;
  height: 40px;
}
.lost-character {
  color: #BA2A2A;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 8px;
  justify-content: center;
}
.keyboard > button:disabled {
  cursor: not-allowed;
}
.key {
  width: 40px;
  height: 40px;
  border: 1px solid #D7D7D7;
  background-color: #FCBA29;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.red_key {
  background-color: #BA2A2A;
}
.green_key {
  background-color: #10A95B;
}
button.new-game {
  margin-top: 38px;
  margin-bottom: 10px;
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
